.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.border-gradient {
  /* background: linear-gradient(45deg, #ff00cc, #3333ff, #00ffcc); */
  border-image: linear-gradient(45deg, #08ff31, #73ff00, #0eff8f);
  border-image-slice: 1;
  animation: border-gradient-animation 3s linear infinite;
}

@keyframes border-gradient-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
}

.checkbox-label {
  cursor: pointer;
  transition:
    transform 0.3s,
    color 0.3s;
}

.custom-checkbox {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid #999;
  border-radius: 4px;
  background-color: transparent;
  position: relative;
  transition:
    border-color 0.3s,
    background-color 0.3s;
}

input[type="checkbox"]:checked + .custom-checkbox::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #00ffcc;
}

.checkbox-label:hover {
  transform: translateY(-2px);
}

.checkbox-label:hover .custom-checkbox {
  border-color: #00ffcc;
}

.checkbox-label:hover span {
  color: #00ffcc;
}
